.title{
 
   display: flex;
   position: absolute;
   top: 1rem;
   left: 20rem;
   color: #6c757d;
}

.linebreak{
    margin-top: 1rem;
    height: 1px;
    width: 81.7%;
    background-color: #adb5bd;
    position: absolute;
    right: 0;
    top: 3rem;
}

#addmap{
    /* border: 2px solid red; */
    position: absolute;
    font-family: Nanum Gothic;
    text-align: initial;
    top: 5rem;
    left: 20rem;
    width: 25%;  
}



.fieldset{
    /* border: 2px solid red; */
    border-radius: 5px;
    background-color: #fff;
    height: 14rem;
    border: 1px solid #adb5bd;
    font-size: 20px;
    color: #6c757d;
    padding-left: 2rem;
    
}
.edit{
    position: absolute;
    right: 0.5rem;
   
}

.edit-map{
    margin: 1rem 2rem;
    font-size: 1rem;
    font-family: Nanum Gothic;
    height: 2rem;
    width: 15rem;
    padding: 0 2rem ;
    border: 1px solid #adb5bd;
    border-radius: 5px ;
  
  
}


 #searchmap
 {
    border: 1px solid #adb5bd;
    border-radius: 5px ;
    background-color: #fff;
    top: 5rem;
    right: 3rem;
    position: absolute;
    height: 70%;
 }

  #location{
    position: absolute;
    top: 4rem;
    left: 27%;
    height: 2rem;
    width: 15rem;
    padding: 0 2rem ;
    font-family: Nanum Gothic;
    border-radius: 5px ;
    font-size: 1rem;
    border: 1px solid #adb5bd;

 }

.map{
    margin: 3rem;
    position: relative;
    border: 1px solid #adb5bd;
    border-radius: 5px ;
    top:0;
}
.edit-profile{
   margin-left: 2rem;
}
.mapTitle{
    text-align:center;
    position: relative;
    top: 2rem;
    font-size: 20px;
    color: #6c757d;
}
.deltebtn{
    position: relative;
    right: 2rem;
}