html {
    background-color: #e9ecef;
    font-family: Nanum Gothic;
}

#login-title {

    position: absolute;
    top: 10rem;
    left: 45%;



}

#login-title h1 {

    /* border: 2px solid red; */
    color: #fff;


    font-size: 3rem;
}

div .login-heading {
    margin: 5rem 0 0 25%;
    font-size: 2rem;


}

#login-form {
    background-color: white;
    /* border: 2px solid red; */
    margin: 1rem 0 0 25%;
    padding: 1rem;
    width: 40%;
    border: outset;

}

#login-form .user,
.password {
    margin: 1rem;
    padding: 1rem;
    height: 13px;
    width: 70%;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    font-size: 16px;
    font-family: Nanum Gothic;

}

#login-form .forgot-pw, .register-acc {
    font-size: 16px;
    margin: 1rem 0 2rem 1rem;
}

#login-form .forgot-pw a, .register-acc a {
    text-decoration: none;
    color: #0d6efd;
}

.log-in {
    width: 15%;
    border-radius: 5px;
    margin: 1rem 1rem;
    padding: 5px 3px;
    border: none;
    background-color: #0d6efd;
    font-size: 1.4rem;
    color: white;
    font-family: Nanum Gothic;
    box-shadow: 1px 1px 1px 1px #343a40;
    cursor: pointer;
}

.log-in:hover {
    font-family: Nanum Gothic;

    color: #343a40;

}